body {
  font-family: "Mandali", sans-serif;
  background-color: rgb(238, 237, 237);
  display: grid;
  justify-content: safe center;
  align-items: start;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: auto;
}